<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USAspendingWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <USAspendingWindow.Properties.Settings>
            <setting name="connectionstring" serializeAs="String">
                <!--<value>Data Source=JROCK-E6420\sqlexpress;Initial Catalog=master;User ID=sa;Password=pa$$w0rd;Connection Timeout=240</value>-->
              <value>Initial Catalog=ProjectUSASpend;Data Source=SQLSERVER2;Integrated Security=SSPI;Connection Timeout=240</value>
            </setting>
        </USAspendingWindow.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=JROCK-E6420\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=pa$$w0rd;Connection Timeout=240" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Initial Catalog=ProjectUSASpend;Data Source=SQLSERVER2;Integrated Security=SSPI;Connection Timeout=240" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>